<appSettings>
  <!-- Update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="BotId" value="EIBotDev2Id" />
  <add key="MicrosoftAppId" value="801bf31e-1421-48aa-bafc-45d2046503ad" />
  <add key="MicrosoftAppPassword" value="sdwU7162]qbhwESIVTA9[@_" />

  <!-- Add your connection string for routing data storage below -->
  <add key="RoutingDataStorageConnectionString" value="" />
</appSettings>